@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* непонятно нужно указывать bold или нет */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  Font-size: 18px;
  Line-height: 30px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.header-catalog-navigation,
.header-catalog-bottom,
.footer-service-list,
.footer-social-networks-list,
.header-catalog-bottom-narrow,
.breadcrumbs-list,
.header-catalog-navigation-sub-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-catalog-navigation-sub-menu-link {
  color:#000000;
  text-decoration: none;
}

.header-catalog-navigation-sub-menu-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.header-catalog-navigation-sub-list li {
  padding-left:20px;
}

.header-catalog-navigation-sub-menu-link li

.header-catalog-title-img {
  display: flex;
  margin-left: 243px;
  margin-top: -37px;
}

.header-authorization-user-list li:first-child{
  padding-right:168px ;
}

.header-authorization-user-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-products-show-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  padding-top: 66px;
  padding-left: 40px;
  gap: 40px;
  padding-bottom: 44px;
}

.catalog-products-show-item {
  display: block;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  padding-top: 4px;
}

.catalog-products-show-content {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 34px;
  justify-content: space-between;

}

.delivery-guarantee-credit-color {
  padding-top: 56px;
  background: linear-gradient(to top, #F0F0F0 64%, #ffffff 50%);
  padding-bottom: 72px;
}

.delivery-guarantee-credit-btm {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.promo-slider-navigation-1-desc-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.heading {
  display: block;
  padding: 0;
  margin: 0;
}

.header-page {
  background-color: #FFE17F;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.header-catalog-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 45px;
}

.header-logo-device {
  display: block;
  position: absolute;
  margin-top: -20px;
  margin-left: 60px;
  fill:rgba(0, 0, 0, 1);
}

.header-logo-device:focus {
  outline: 2px solid rgba(175, 79, 255, 1);
  fill:rgba(0, 0, 0, 1);
}

.header-logo-device:hover {
  fill:rgba(0, 0, 0, 0.6);
}

.header-logo-device:active {
  fill:rgba(0, 0, 0, 0.1);
}

.link-decoration {
  text-decoration: none;
  color: #000000;
}

.header-page {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #FFE17F;
}

.header-catalog-page {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #FFE17F;
  height: 186px;
}

.header-catalog-find-text {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFE17F;
  border: 2px solid #000000;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: url("../images/header-find-logo.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  width: 303px;
  padding-left: 48px;
  height: 33px;
  border-color: #000000;
  border-right-color: #FFE17F;
}

.header-catalog-find-btm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFE17F;
  border: 2px solid #000000;
  width: 157px;
  height: 39px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.header-user-authorization-link {
  display: flex;
}

.header-user-authorization-link h3 {
  padding:0;
  margin:0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.header-user-authorization-link span {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-right: 15px;
}


.header-user-authorization-exit-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-top: 9px;
  padding-right: 22px;
  padding-left: 10px;
}

.header-compare-link {
  display: flex;
}

.header-compare-link h3 {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-right: 9px;
}

.header-recycle-link {
  display: flex;
  padding-left: 24px;
}

.header-recycle-link h3 {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.header-icon-recycle {
  padding-right: 12px;
  padding-top: 5px;
}

.header-compare-icon {
  padding-right: 12px;
  padding-top: 9px;
  padding-left: 9px;
}

.header-recycle-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  margin-left: -16px;
  margin-top: 5px;
  width: 21px;
  height: 21px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-radius: 10px;
}

.header-catalog-title {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  Font-size: 18px;
  Line-height: 21px;
}

.header-delivery-link,
.header-warranty-link,
.header-contacts-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  Font-size: 18px;
  Line-height: 21px;
}



.header-contacts-link {
  padding-left: 24px;
}

.header-warranty-link {
  padding-right: 25px;
  padding-left: 24px;
}

.header-delivery-link {
  padding-right: 20px;
  padding-left: 25px;
}

.promo-slider-number {
  display: block;
  margin: 0;
  margin: 0;
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  padding-right: 49px;
  margin-top: -67px;
}

.promo-product-header {
  display: block;
  padding-top: 9px;
}

.promo-product-desc {
  display: block;
  padding-top: 28px;
}

.promo-more-btm-indicators {
  display: flex;
  padding-top: 68px;
  justify-content: space-between;
}

.promo-product-wrapper {
  display: flex;
  padding-top: 61px;
}

.promo-product-damage-radius {
  padding-left: 21px;
}

.promo-more-btm {
  display: flex;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  border: 0;
  justify-content: center;
  align-items: center;
}

.catalog-indicators {
  cursor: pointer;
}

.term-buy-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}


.delivery-guarantee-credit-wrapper {
  padding-top: 55px;
}

.delivery-guarantee-credit-btm li:first-child {
  padding-top: 65px;
}

.delivery-guarantee-credit-btm li:nth-child(2) {
  padding-top: 51px;
}

.delivery-guarantee-credit-btm li:nth-child(3) {
  padding-top: 67px;
}

.term-item {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #FFE17F;
  height: 8px;
  width: 160px;
  cursor: pointer;
}

.delivery-guarantee-credit-btm-current {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  height: 40px;
  width: 270px;
  background-color: #000000;
  color: #FFE17F;
  border: 0;
  cursor: pointer;
}

.delivery-guarantee-credit {
  width: 289px;
}

.delivery-guarantee-credit-btm {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0 7px 0 0;
  height: 319px;
}

.delivery {
  display: block;
  width: 560px;
}

.delivery-image {
  padding-top: 77px;
  padding-left: 111px;
}

.delivery-image-picture {
  display: block;
  width: 136px;
  height: 164px;

  background-image: url("../images/delivery.svg");
}

.delivery-header {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 72px;
  padding-left: 115px;
}

.delivery-header-desc {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 33px;
  padding-left: 115px;
}

.about {
  display: flex;
  padding: 0;
  margin: 0;
  width: 500px;
  padding-top: 69px;
  flex-direction: column;
}

.contacts {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 69px;
  padding-left: 128px;
  flex-direction: column;
  width: 515px;
}

.contacts-header {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}

.contacts-desc {
  padding: 0;
  margin: 0;
  padding-top: 48px;
}


.about-divider {
  display: block;
  margin: 0;
  padding: 0;
  padding border: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  color: #000000;
}

.about-us-header {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.about-us-desc-advantage {
  padding-top: 30px;
}

.about-us-desc-transport {
  padding-top: 12px;
}

.about-us-desc-list li {
  padding-top: 19px;
}


.about-us-desc-list li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
  display: inline-block;
  margin-right: 26px;
}

.about-us-desc-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 11px;
}

.about-us-desc-list li span {
  padding: 0;
  margin: 0;
  color: #000000;
}

.more-about-us-btm {
  display: flex;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  width: 270px;
  height: 8px;
  justify-content: center;
  align-items: center;
  background-color: #FFE17F;
  border: 0;
  cursor: pointer;
  margin-top: 48px;
}

.delivery-on-order {
  display: flex;
  padding-top: 70px;
  height: 100px;
  justify-content: space-between;
}

.delivery-on-order-icon {
  display: block;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url("/images/mini-car.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.delivery-on-order-img {
  display: block;
  width: 125px;
  height: 100px;
  background-color: #F0F0F0;
  background-image: url("/images/Auto-Layout-Horizontal.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.contacts-working-hours-desc {
  padding: 0;
  margin: 0;
  padding-top: 17px;
}

.write-to-us-btm {
  padding: 0;
  margin: 0;
  display: flex;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  width: 259px;
  height: 8px;
  justify-content: center;
  align-items: center;
  background-color: #FFE17F;
  border: 0;
  cursor: pointer;
  margin-top: 45px;
}

.subscribe-color {
  background-color: #F0F0F0;
  margin-top: 85px;
}

.subscribe {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.subscribe-header {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 64px;
  padding-left: 7px;
  width: 601px;
}

.subscribe-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  padding-top: 141px;
  padding-bottom: 56px;
}

.subscribe-form {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.subscribe-desc {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 73px;
  padding-left: 7px;
  width: 560px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-field {
  display: block;
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 540px;
  height: 56px;
  background-color: #F0F0F0;
  padding-left: 17px;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
}

.header-style {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* для кнопок которые у нас с желтой полоской */
.btm {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFE17F;
}

.btm_current {
  color: #FFE17F;
  background-color: #000000;
}

.promo-product-range-of-flighе,
.promo-product-damage-radius {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.promo-product-range-of-flighе-desc,
.promo-product-damage-radius-desc {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

}

.catalog-group-list {
  display: grid;
  padding: 0;
  margin: 0;
  padding-top: 108px;
  list-style-type: none;
  grid-auto-flow: column;
  justify-content: space-between;
}

.catalog-group-item {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  justify-content: space-around;
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.catalog-group-item + p {
  padding-top: 11px;
}

.catalog-group-virtual-reality {
  background-image: url("../images/virtual-reality.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-group-monopod {
  background-image: url("../images/selfie-monopods.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.catalog-group-action-camera {
  background-image: url("../images/action-camera.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.catalog-group-fitness-bracelets {
  background-image: url("../images/fitness-bracelets.svg");
  background-repeat: no-repeat;
  background-position: center center;
}


.catalog-group-smart-watch {
  background-image: url("../images/smart-watch.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-group-quadcopters {
  background-image: url("../images/quadrocopters.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.delivery-on-order-title {
  display: flex;
  width: 910px;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  cursor: pointer;
}

.delivery-on-order-title h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  padding: 0;
  margin: 0;
  padding-top: 7px;
}

.delivery-on-order-header-wrapper img {
  background-image: url("../images/Auto-Layout-Horizontal.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us-desc-list {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.contacts-online-store,
.contacts-working-hours-header {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  padding-top: 30px;
}

.contacts-adress {
  font-style: Normal;
  padding-top: 15px;
}

.subscribe-button {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  border: 3px solid #C4C4C4;
  width: 253px;
  height: 57px;
  cursor: pointer;
}

.subscribe-checkbox-free {
  margin-top: 165px;
  margin-left: 186px;
  height: 14px;
  width: 14px;
  background-image: url("../images/subscribe-checkbox.svg");
  background-repeat: no-repeat;
}

.subscribe-is-free {
  padding-top: 140px;
  padding-left: 17px;
}

.footer-nav {
  display: block;
  color: #ffffff;
  background-color: #444444;
  padding-top: 63px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container-catalog-wrapper {
  display: flex;
  justify-content: start;
  color: #000000;
  background-color: #F0F0F0;
}

.container-catalog {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-address {
  width: 290px;
  padding-bottom: 77px;
}

.footer-address svg,
.footer-address:focus svg {
  fill:rgba(255, 199, 0, 1);
}
.footer-address:focus svg {
  outline: 2px solid #ffffff;
  fill:rgba(255, 199, 0, 1);
}

.footer-address:hover svg{
  fill:rgba(255, 199, 0, 0.6);
  outline: 2px solid rgba(175, 79, 255, 1);
}

.footer-address:active svg{
  fill:rgba(255, 199, 0, 0.3);
  outline: 2px solid rgba(175, 79, 255, 1);
}

.footer-address-desc {
  font-style: normal;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 26px;
  padding-bottom: 62px;
}

.footer-horizontal-bar {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC500;
  color: #FFC500;
  background-repeat: no-repeat;
}

.footer-service-social-networks {
  padding-top: 70px;
  padding-left: 37px;
  width: 631px;
}

.footer-service-link {
  padding-left: 18px;
  padding-right: 17px;
  text-decoration: none;
  color: #ffffff;
}

.footer-social-networks-list {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  padding-top: 55px;
  padding-left: 151px;

}

.footer-social-link {
  padding-left: 15px;
}

.footer-tel {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-tel-and-logo {
  display: block;
  width: 175px;
  text-align: end;
  padding-top: 73px;
}

.footer-logo-link {
  display: block;
  padding-top: 60px;
}

.device-catalog-header-title {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-top: 35px;
  padding-left: 60px;
}


.breadcrumbs-list {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 42px;
  padding-top: 16px;
  padding-bottom: 31px;
}

.breadcrumbs-item-divider {
  padding-bottom: 2px;
}

.breadcrumbs-link {
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  color: #000000;
  background-color: #ffffff;
}

.catalog-products-show-picture {
  display: block;
}

.catalog-products {
  display: block;
  padding: 0;
  margin: 0;
  width: 420px;
}

.catalog-products-filter {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  padding-top: 28px;
  padding-left: 60px;
}

.catalog-products-filter-list {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  padding-top: 13px;
}

.catalog-products-show-section {
  display: block;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.catalog-products-range {
  padding-top: 28px;
  margin-left: -7px;
}

.catalog-products-range-scale {
  position: relative;
  height: 2px;
  background-color: red;
  background-color: #DCDCDC;
  border-radius: 2px;
}

.catalog-products-range-scale-bar {
  position: absolute;
  height: 3px;
  background-color: #000000;
  color: #000000;
}

.catalog-products-range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.catalog-products-range-toggle:hover {
  background-color: #000000;
}

.catalog-products-range-toggle:active,
.catalog-products-range-toggle:focus {
  outline: 2px solid #000000;
}

.catalog-products-range-toggle-min {
  top: -8px;
}

.catalog-products-range-toggle-max {
  top: -8px;
  right: -5px;
}

.catalog-products-range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
}

.catalog-products-filter-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  font-size: 15;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.catalog-products-range-input {
  font-family: "Rubik", sans-serif;
  padding:0;
  margin:0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  width: 20px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  margin-left:6px;
}

.catalog-products-range-input::-webkit-outer-spin-button,
.catalog-products-range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-divider {
  display: flex;
  border: 2px;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
  color: #000000;
  margin-left: 61px;
  margin-top: 60px;
}

.catalog-divider-two {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
  color: #000000;
  margin-top: 21px;
}

.catalog-divider-three {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
  color: #000000;
  margin-top: 31px;
}

.catalog-products-show-sorting-wrapper {
  display: flex;
  background-color: #F0F0F0;
  justify-content: space-between;
  width: 840px;
  padding-top: 27px;
  padding-bottom: 23px;
}

.catalog-products-show-sorting-btm {
  display: flex;
  padding-top: 5px;
  padding-right: 7px;
}

.catalog-products-show-sorting {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  margin-left: 38px;
}

.catalog-products-show-sort-up {
  display: flex;
  padding: 0;
  margin: 0;
  width: 11px;
  height: 10px;
  background-image: url("../images/catalog-filtr-up.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 20px;
}

.catalog-products-show-sort-down {
  display: flex;
  padding: 0;
  margin: 0;
  width: 11px;
  height: 10px;
  background-image: url("../images/catalog-filtr-down.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 43px;
}

.catalog-products-show-sort-list {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #F0F0F0;
  border: 0;
  margin: 0;
  padding-top: 1px;
  margin-left: -15px;
  padding-right: 5px;
}

.catalog-products-title-color {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-top: 12px;
}

.catalog-products-filter-group {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.catalog-products-filter-group-list {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
  padding-top: 4px;
}

.catalog-products-check-input,
.catalog-products-radio-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog-products-radio {
  position: absolute;
  margin-left: -37px;
  margin-top: -2px;
  width: 20px;
  height: 20px;
  background-image: url("../images/radio.svg");
  background-repeat: no-repeat;
}

.catalog-products-check-box {
  position: absolute;
  margin-left: -37px;
  margin-top: -2px;
  width: 20px;
  height: 20px;
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
}

.catalog-products-item {
  padding-top: 18px;
  padding-left: 37px;
}

.catalog-products-check-input:checked + .catalog-products-check-box {
  background-image: url("../images/checkbox-on.svg");
  background-repeat: no-repeat;
}

.catalog-products-radio-input:checked + .catalog-products-radio {
  background-image: url("../images/radio-on.svg");
  background-repeat: no-repeat;
}

.catalog-products-check-input:focus + .catalog-products-check-box {
  box-shadow: 0 0 0 3px #AF4FFF;
}

.catalog-products-radio-input:focus + .catalog-products-radio {
  box-shadow: 0 0 0 3px #AF4FFF;
}

.catalog-products-filter-group-btm {
  margin-top: 53px;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  color: #000000;
}

.catalog-products-filter-form {
  padding-top: 12px;
}

.catalog-products-filter-field {
  padding: 0;
  margin: 0;
  margin-left: 57px;
  margin-right: 60px;
  border: 0 none;
}

.catalog-products-title {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-products-title-bluetoth {
  padding-top: 12px;
}

.catalog-products-show-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.catalog-products-show-title-link {
  text-decoration: none;
  color: #000000;
}

.catalog-products-show-price-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-products-load-more-btm {
  display: block;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  border: 3px solid #E5E5E5;
  width: 760px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.catalog-products-pagination-div {
  display: flex;
  width: 760px;
  height: 71px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 78px;
  background-color: #EBEBEB;
  color: #000000;
}

.catalog-products-pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 150px;
  list-style-type: none;
  width: 760px;
  height: 71px;
  color: #444444;
}

.catalog-products-pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;

}

.catalog-products-pagination-link {
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.catalog-products-pagination-prev {
  padding-left: 5px;
  text-decoration: none;
  color: #000000;
}

.catalog-products-pagination-next {
  padding-right: 10px;
  text-decoration: none;
  color: #000000;
}

/* надпись назад  и вперед */
.catalog-products-pagination-prev,
.catalog-products-pagination-next {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.header-page-wrapper-user {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}

.header-catalog-find {
  display: flex;
}

.header-user-autorizatiuon-icon {
  padding-right: 14px;
  padding-left: 5px;
  padding-top: 7px;
}

.header-catalog-list {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 45px;
}

.header-catalog-bottom-narrow {
  display: flex;
  margin-left: auto;
  padding-bottom: 29px;
}

.header-page-wrapper-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 138px;
}

.header-page-wrapper-bottom-small {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 12px;
}


.header-authorization-user-section {
  padding-top: 50px;
  margin-left: auto;
}

.index-columns {
  display: flex;
}

.promo {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  width: 600px;
}

.promo-slider-navigation-1-desc-section {
  width: 560px;
}

.bottom-promo {
  display: flex;
  padding-left: 25px;
  justify-content: space-between;
  width: 541px;
}

.promo-slider-prev-btm {
  cursor: pointer;
  position: absolute;
  margin-top: 60px;
  background-color: #ffffff;
  border: 0;
  z-index: 5;
}

.promo-slider-next-btm {
  cursor: pointer;
  position: absolute;
  margin-left: 510px;
  margin-top: 60px;
  background-color: #ffffff;
  border: 0;
  z-index: 5;
}

.promo-slider-image {
  position: absolute;
  z-index: 2;
  margin-top: -150px;
}
